@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pizzeria Leonardo's'</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
        @*NAVBAR*@
    <header class="fixed-top px-3">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Le Tue Pizze</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Account Settings</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Chi Siamo</a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </nav>
        </header>



        @*MAIN*@
        <main>
        <div class="album py-5 bg-body-tertiary">
            <div class="container">

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    @*MODELLO DI CARD IN LAVORAZIONE*@
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="~/img/pizza_1.jpg" class="card-img-top object-fit-cover" width="100%" height="225" role="img" focusable="false" alt="La vera Pizza" />
                            <div class="card-body">
                                <h3 class="card-text">PIZZA BUONISSIMA</h3>
                                <p class="card-text">piena di sapore BUONO</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group ">
                                        <button type="button" class="btn text-dark btn-warning btn-sm btn-outline-secondary">MODIFICA</button>
                                        <button type="button" class="btn text-light btn-danger btn-sm btn-outline-secondary">ELIMINA</button>
                                    </div>
                                </div>
                                <div class="card-item fw-semibold pt-2 text-body-secondary bg-white px-0">
                                    Prezzo: 8€
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="~/img/pizza_2.jpg" class="card-img-top object-fit-cover" width="100%" height="225" role="img" focusable="false" alt="La vera Pizza" />
                            <div class="card-body">
                                <h3 class="card-text">PIZZA BUONISSIMA</h3>
                                <p class="card-text">piena di sapore BUONO</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group ">
                                        <button type="button" class="btn text-dark btn-warning btn-sm btn-outline-secondary">MODIFICA</button>
                                        <button type="button" class="btn text-light btn-danger btn-sm btn-outline-secondary">ELIMINA</button>
                                    </div>
                                </div>
                                <div class="card-item fw-semibold pt-2 text-body-secondary bg-white px-0">
                                    Prezzo: 8€
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="~/img/pizza_3.jpg" class="card-img-top object-fit-cover" width="100%" height="225" role="img" focusable="false" alt="La vera Pizza" />
                            <div class="card-body">
                                <h3 class="card-text">PIZZA BUONISSIMA</h3>
                                <p class="card-text">piena di sapore BUONO</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group ">
                                        <button type="button" class="btn text-dark btn-warning btn-sm btn-outline-secondary">MODIFICA</button>
                                        <button type="button" class="btn text-light btn-danger btn-sm btn-outline-secondary">ELIMINA</button>
                                    </div>
                                </div>
                                <div class="card-item fw-semibold pt-2 text-body-secondary bg-white px-0">
                                    Prezzo: 8€
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="~/img/pizza_4.jpg" class="card-img-top object-fit-cover" width="100%" height="225" role="img" focusable="false" alt="La vera Pizza" />
                            <div class="card-body">
                                <h3 class="card-text">PIZZA BUONISSIMA</h3>
                                <p class="card-text">piena di sapore BUONO</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group ">
                                        <button type="button" class="btn text-dark btn-warning btn-sm btn-outline-secondary">MODIFICA</button>
                                        <button type="button" class="btn text-light btn-danger btn-sm btn-outline-secondary">ELIMINA</button>
                                    </div>
                                </div>
                                <div class="card-item fw-semibold pt-2 text-body-secondary bg-white px-0">
                                    Prezzo: 8€
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="~/img/pizza_5.jpg" class="card-img-top object-fit-cover" width="100%" height="225" role="img" focusable="false" alt="La vera Pizza" />
                            <div class="card-body">
                                <h3 class="card-text">PIZZA BUONISSIMA</h3>
                                <p class="card-text">piena di sapore BUONO</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group ">
                                        <button type="button" class="btn text-dark btn-warning btn-sm btn-outline-secondary">MODIFICA</button>
                                        <button type="button" class="btn text-light btn-danger btn-sm btn-outline-secondary">ELIMINA</button>
                                    </div>
                                </div>
                                <div class="card-item fw-semibold pt-2 text-body-secondary bg-white px-0">
                                    Prezzo: 8€
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="~/img/pizza_6.jpg" class="card-img-top object-fit-cover" width="100%" height="225" role="img" focusable="false" alt="La vera Pizza" />
                            <div class="card-body">
                                <h3 class="card-text">PIZZA BUONISSIMA</h3>
                                <p class="card-text">piena di sapore BUONO</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group ">
                                        <button type="button" class="btn text-dark btn-warning btn-sm btn-outline-secondary">MODIFICA</button>
                                        <button type="button" class="btn text-light btn-danger btn-sm btn-outline-secondary">ELIMINA</button>
                                    </div>
                                </div>
                                <div class="card-item fw-semibold pt-2 text-body-secondary bg-white px-0">
                                    Prezzo: 8€
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="~/img/pizza_7.jpg" class="card-img-top object-fit-cover" width="100%" height="225" role="img" focusable="false" alt="La vera Pizza" />
                            <div class="card-body">
                                <h3 class="card-text">PIZZA BUONISSIMA</h3>
                                <p class="card-text">piena di sapore BUONO</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group ">
                                        <button type="button" class="btn text-dark btn-warning btn-sm btn-outline-secondary">MODIFICA</button>
                                        <button type="button" class="btn text-light btn-danger btn-sm btn-outline-secondary">ELIMINA</button>
                                    </div>
                                </div>
                                <div class="card-item fw-semibold pt-2 text-body-secondary bg-white px-0">
                                    Prezzo: 8€
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="~/img/pizza_8.jpg" class="card-img-top object-fit-cover" width="100%" height="225" role="img" focusable="false" alt="La vera Pizza" />
                            <div class="card-body">
                                <h3 class="card-text">PIZZA BUONISSIMA</h3>
                                <p class="card-text">piena di sapore BUONO</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group ">
                                        <button type="button" class="btn text-dark btn-warning btn-sm btn-outline-secondary">MODIFICA</button>
                                        <button type="button" class="btn text-light btn-danger btn-sm btn-outline-secondary">ELIMINA</button>
                                    </div>
                                </div>
                                <div class="card-item fw-semibold pt-2 text-body-secondary bg-white px-0">
                                    Prezzo: 8€
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="~/img/pizza_9.jpg" class="card-img-top object-fit-cover" width="100%" height="225" role="img" focusable="false" alt="La vera Pizza" />
                            <div class="card-body">
                                <h3 class="card-text">PIZZA BUONISSIMA</h3>
                                <p class="card-text">piena di sapore BUONO</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group ">
                                        <button type="button" class="btn text-dark btn-warning btn-sm btn-outline-secondary">MODIFICA</button>
                                        <button type="button" class="btn text-light btn-danger btn-sm btn-outline-secondary">ELIMINA</button>
                                    </div>
                                </div>
                                <div class="card-item fw-semibold pt-2 text-body-secondary bg-white px-0">
                                    Prezzo: 8€
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="~/img/pizza_10.jpg" class="card-img-top object-fit-cover" width="100%" height="225" role="img" focusable="false" alt="La vera Pizza" />
                            <div class="card-body">
                                <h3 class="card-text">PIZZA BUONISSIMA</h3>
                                <p class="card-text">piena di sapore BUONO</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group ">
                                        <button type="button" class="btn text-dark btn-warning btn-sm btn-outline-secondary">MODIFICA</button>
                                        <button type="button" class="btn text-light btn-danger btn-sm btn-outline-secondary">ELIMINA</button>
                                    </div>
                                </div>
                                <div class="card-item fw-semibold pt-2 text-body-secondary bg-white px-0">
                                    Prezzo: 8€
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="~/img/pizza_11.jpg" class="card-img-top object-fit-cover" width="100%" height="225" role="img" focusable="false" alt="La vera Pizza" />
                            <div class="card-body">
                                <h3 class="card-text">PIZZA BUONISSIMA</h3>
                                <p class="card-text">piena di sapore BUONO</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group ">
                                        <button type="button" class="btn text-dark btn-warning btn-sm btn-outline-secondary">MODIFICA</button>
                                        <button type="button" class="btn text-light btn-danger btn-sm btn-outline-secondary">ELIMINA</button>
                                    </div>
                                </div>
                                <div class="card-item fw-semibold pt-2 text-body-secondary bg-white px-0">
                                    Prezzo: 8€
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="~/img/pizza_12.jpg" class="card-img-top object-fit-cover" width="100%" height="225" role="img" focusable="false" alt="La vera Pizza" />
                            <div class="card-body">
                                <h3 class="card-text">PIZZA BUONISSIMA</h3>
                                <p class="card-text">piena di sapore BUONO</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group ">
                                        <button type="button" class="btn text-dark btn-warning btn-sm btn-outline-secondary">MODIFICA</button>
                                        <button type="button" class="btn text-light btn-danger btn-sm btn-outline-secondary">ELIMINA</button>
                                    </div>
                                </div>
                                <div class="card-item fw-semibold pt-2 text-body-secondary bg-white px-0">
                                    Prezzo: 8€
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </main>



    @*FOOTER*@
    <footer class="d-flex fixed-bottom flex-wrap justify-content-between align-items-center py-3 px-3 bg-light border-top">
            <div class="col-md-4 d-flex align-items-center">
                @*Logo footer*@
                <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none bg-white lh-1">
                <i class="fa-solid fa-pizza-slice"></i>
                </a>
                <span class="mb-3 mb-md-0 text-body-secondary">© 2023 Pizzeria Leonardo&prime;s</span>
            </div>

            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-body-secondary" href="#"><i class="fa-brands fa-twitter"></i></a></li>
            <li class="ms-3"><a class="text-body-secondary" href="#"><i class="fa-brands fa-instagram"></i></a></li>
            <li class="ms-3"><a class="text-body-secondary" href="#"><i class="fa-brands fa-facebook"></i></a></li>
            </ul>
        </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
